a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, img {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
}

.nav-bar {
  background-color: black;
  position: sticky;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
  font-size: 15px;
}

.nav-bar img {
  width: 28px;
  padding: 5px;
}

.category-links {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.category-links div {

}

.search {
  display: flex;
  justify-content: flex-end;
}


.kpost-logo {
  display: flex;
  justify-content: center;
}

.date-and-weather {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
  color: #6d6e71;
  padding: 0px 24px 10px 24px;
}

.air-quality {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.slogan {
  padding-right: 120px;
  font-weight: bold;
  color: black;
  font-size: 16px;
}

em {
  font-weight: bold;
  font-style: inherit;
}

.breaking-news {
  display: flex;
  /*justify-content: space-between;*/
  margin: 0px 24px;
  padding: 5px 0;
  border-top: 1px solid indianred;
  border-bottom: 1px solid indianred;
}

.breaking-news div {
  padding: 5px 10px;
  color: #323437;
  font-weight: bold;
}

.breaking-news div:hover {
  color: black;
}

.breaking-news .whats-news {
  text-transform: uppercase;
  color: red;
  padding-left: 0;
}

.breaking-news .whats-news:hover {
  color: red;
}

.latest-news {
  display: flex;
  margin: 10px 24px;
  max-width: 480px;
  color: #4F4F4F;
  font-size: 14px;
}

#news1, #news2, #news3 {
  margin: 0 0 10px 0;
}

.latest-news > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.latest-news > div > div {
  padding: 5px 0;
  border-bottom: 1px solid;
}

.latest-news > div > div > a {
  padding: 0 5px 5px 0;
}

.latest-news > div > div > .brief-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.latest-news > div > div > .brief-summary p {
  width: 300px;
  margin-right: 10px;
}

.latest-news > div > div > .brief-summary img {
  width: 150px;
  margin-right: 10px;
}
