a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: sans-serif;
  color: #323437;
}


h1, h2, h3, h4, h5, h6, a, p, div, * {
  padding: 0;
  margin: 0;
}

.body-content {
  margin-right: 5vw;
  margin-left: 5vw;
}


.nav-bar {
  background-color: black;
  position: sticky;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.nav-bar img {
  width: 28px;
  margin: 4px;
}

.category-links {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.category-links div {

}

.search {
  display: flex;
  justify-content: flex-end;
}


.kpost-logo {
  display: flex;
  justify-content: center;
}
.kpost-logo img {
  width: 40vw;
  padding: 5px;
}
.date-and-weather {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
  color: #6d6e71;
  margin: 0 0 10px 0;
}

.air-quality {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.slogan {
  padding-right: 120px;
  font-weight: bold;
  color: black;
  font-size: 16px;
}

.breaking-news {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid indianred;
  border-bottom: 1px solid #f5d5d3;
  padding: 8px 0;
}

.breaking-news div {
  color: #323437;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0x;
}

.breaking-news div:hover {
  color: black;
}

.breaking-news .whats-news {
  text-transform: uppercase;
  color: red;
}

.breaking-news .whats-news:hover {
  color: red;
}

/*latest news section*/
.latest-news {
  display: flex;
  margin-top: 8px;
  margin-bottom: 5px;
  border-bottom: #dadde3;
}

.brief-summary {
  display: flex;
  justify-content: space-between;
}

.brief-summary > p {
  font-size: 14px;
  padding: 15px 5px 10px 0;
  color: #4F4F4F;
}

.latest-news img {
  width: 160px;
  height: 95px;
  margin-bottom: 10px;
}

#news4 > img {
  width: 400px;
  height: 150px;
}

.news-title h4 {
  margin-bottom: 5px;
  font-size: 16px;
  color: #323437;
}

.latest-news .by-line {
  padding-bottom: 8px;
}

.by-line > p > a {
  font-size: 12px;
}

#news1, #news2, #news3, #news4, #news5, #opinion1, #opinion2, #opinion3 {
  margin: 15px 10px 0 0;
  padding: 5px 10px 5px 0px;
  border-bottom: 1px solid #dadde3;
  font-size: 14px;
  font-family: Arial;
}

#news3, #news5, #opinion3 {
  border-bottom: 0;
}

.latest-news > .latest-news-col2,
.latest-news > .opinion {
  border-left: 1px solid #dadde3;
  padding-left: 20px ;
}

#opinion1 > h4{
  padding-bottom: 8px;
  text-decoration: underline;
  text-transform: uppercase;
  color: red;
}


/*visual story section*/
.visual-stories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 0 20px 0;
  color: #323437;
  border-bottom: 1px solid #dadde3;
}
.visual-story-title > h4 {
  text-transform: uppercase;
  color: red;
  text-decoration: underline;
  margin-top: 20px;
}

.visual-stories > div > div {
  width: 250px;
  height: 140px;
  overflow: hidden;
  margin: 10px 10px 10px 0;
}
.visual-stories > div > div > img {
  width: 100%;
  height: 100%;
  transition: transform 1s ease;

}

.visual-stories > div > div > img:hover {
  transform: scale(1.2);

}

.visual-stories > div > h4 {
  margin-top: 8px;
  margin-bottom: ;
  width: 250px;
}

.about-us {
  height: 500px;
}

.news-section {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  gap: 30px;
  margin-top: 20px;
}

.news-section > div {
  width: 250px;
}

.news-section > div > div {
  padding: 10px;
  border-left: 1px solid #dadde3;
  border-right: 1px solid #dadde3;
  border-bottom: 1px solid #dadde3;
  font-size: 14px;
}

.news-section > div > div.news-img {
    width: 250px;
    height: 140px;
    overflow: hidden;
    padding: 0;
    border: 0;
}

.news-section > div > div.headline {
  font-weight: bold;
}


.news-section > div > h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: indianred;
  font-size: 14px;
}




.news-section > div > div > a > img {
  width: 100%;
  height: 100%;
  transition: transform ease 1s;

}

.news-section > div > div > a > img:hover {
  transform: scale(1.2);
}


